@import '~styles/variables';

#home {
  // home-specific component overrides
  .home__cards {
    margin-top: -1.5 * @header-height;
  }

  .home__hero .hero {
    top: -@header-height / 2;
    background: url(~assets/bg.jpg) no-repeat center;
    background-size: cover;

    @media(min-width: @screen-lg) {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: url(~assets/bg-overlay.png) no-repeat center;
        background-size: cover;
      }
    }

     &__heading {
      @media(min-width: @screen-lg) {
        margin-top: 30 * @grid-baseline;
      }
    }
  }
}
